body{
    background-color: silver;
}

h1{
    color: red;
    text-align: center;
}

h2{
    font-size: 96px;
    text-align: Center;
    color: blue;
}

#textarea{
    height: 200px;
}

table{
    width: 50%;
}

table td input{
    width: 98%;
    text-align: center;
}
.btn{
    height: 70px;
    color: crimson;
    
}